.meals {
    max-width: 60rem;
    width: 90%;
    margin: 2rem auto;
    animation: meals-appear 1s ease-out forwards;
  }
  .loading {
    margin-top: 35px;
    color: rgb(97, 28, 28);
    font-weight: bold;
    text-align: center;
  }

  .error {
    margin-top: 35px;
    color: rgb(97, 28, 28);
    font-weight: bold;
    text-align: center;
  }
  .meals ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  @keyframes meals-appear {
    from {
      opacity: 0;
      transform: translateY(3rem);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }